{{#extend 'base'}}
  {{#content 'title'}}(Tổng cục thuế Demo) 2{{/content}}
  {{#content 'body'}}
    <h1>Email 2</h1>
    <p>{{bien21}}</p>
    <h1>Email 2</h1>
    <p>{{bien22}}</p>
  {{/content}}
{{/extend}}